$color-background = #0e1a2b
$color-footer-mobile-1 = lighten($color-background, 5%)
$color-footer-mobile-2 = lighten($color-background, 15%)
$color-background-code = lighten($color-background, 5%)
$color-border = #1b2b3a
$color-scrollbar = #2e4053
$color-meta = #566573
$color-meta-code = #566573
$color-link = #00bfff
$color-text = #d6eaf8
$color-accent-3 = #85c1e9
$color-accent-2 = #aed6f1
$color-accent-1 = #d6eaf8
$color-quote = #5dade2
$highlight = hexo-config("highlight") || "rainbow"
